# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

/dapp/node_modules
/dapp/package-lock.json
/dapp/package.json
/dapp/package.json.lock
/dapp/package.json.lock